* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6f7ff;
}

.container {
    position: relative;
    width: 1200px;
    height: 800px;
}

.image-carte {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.image-carte img {
    width: 89%;
    height: auto;
}

.liste-drag {
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: #fff;
    padding: 15px 20px;
    border-radius: 5px;
}

.counter {
    position: absolute;

    top: -76px;
    left: 0;
    height: 5px;
    background-color: #0066ff;
}


.score {
    width: 235px;
    box-shadow: 0px 0px 2px #000;
    padding: 10px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.score span {
    padding: 15px;
    background: #0066ff;
    padding-inline: 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    margin-left: 15px;
}

.score span:nth-child(1) {
    margin-right: 15px;
}

.drag {
    background-color: #f39c12;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
}

.drag:hover {
    border-color: #e67e22;
}

.liste-drop .vide {
    position: absolute;
    background-color: white;
    border: 2px solid #0066ff;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
    line-height: 50px;
}



/* Position des cages sur la carte (approximatif, ajustez selon votre image) */
.vide:nth-child(1) { top: 730px; left: 50px; box-shadow: 0px 0px 5px #000;} /* Toliara */
.vide:nth-child(2) { top: 290px; left: 150px; box-shadow: 0px 0px 5px #000;} /* Mahajanga */
.vide:nth-child(3) { top: 600px; left: 160px; box-shadow: 0px 0px 5px #000;} /* Fianarantsoa */
.vide:nth-child(4) { top: 60px; left: 350px; box-shadow: 0px 0px 5px #000;}  /* Antsiranana */
.vide:nth-child(5) { top: 400px; left: 320px; box-shadow: 0px 0px 5px #000;} /* Toamasina */
.vide:nth-child(6) { top: 410px; left: 180px; box-shadow: 0px 0px 5px #000;} /* Antananarivo */


.guide-carte {
    position: absolute;
    max-width: 600px;
    left: 55%;
    top: 30%;
    padding: 15px 20px;
    background: #fff;
    border: 2px solid #0066ff;
    border-radius: 5px;
}

.guide-carte h1 {
    text-align: center;
    margin-block: 10px;
}

.guide-carte ol {
    margin-block: 20px;
    margin-left: 20px;
}

.guide-carte ol li {
    margin-block: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.btn-carte {
    padding: 30px;
    background: white;
    position: absolute;
    border-radius: 5px;
    left: -25%;
    top: -1%;
}
.btn-carte button {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: #0066ff;
    cursor: pointer;
}


.score-affichage {
    position: absolute;
    display: none; /* display */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 600px;
    background-color: #0066ff;
    border-radius: 6px;
}

.score-affichage .icon-affichage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 50px;
}

.score-affichage .icon-affichage i {
    font-size: 7rem;
    color: white;
}

.score-affichage .text-score {
    text-align: center;
    margin: auto;
    font-size: 2rem;
    width: 70%;
    color: white;
    margin-block: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}

.score-affichage .text-score span {
    font-weight: 700;
}

.score-affichage .btn-score {
    margin-left: 19%;
    margin-bottom: 30px;
}

.score-affichage .btn-score button {
    width: 190px;
    height: 50px;
    font-size: 1rem;
    font-weight: 600;
    background: white;
    border: none;
    border-radius: 5px;
    color: #0066ff;
    cursor: pointer;
    transition: all .2s ease;
}

.score-affichage .btn-score button:hover {
    opacity: .8;
}

.score-final {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: gray;
    text-align: center;
    padding-top: 7%;
    font-size: 2rem;
    transform: translate(-50%, -50%) scale(.5);
    border-radius: 5px;
    opacity: 0;
    z-index: 2;
    transition: all .5s ease-in-out;
}

.score-final.active {
    opacity: 1;
    z-index: 60;
    transform: translate(-50%, -50%) scale(1);
}


.content {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    z-index: 50;
    display: none;
}