* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6f7ff;
}

.container {
    position: relative;
    width: 1200px;
    height: 800px;
}

.image-carte {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.image-carte img {
    width: 89%;
    height: auto;
}

.liste-drag {
    position: absolute;
    top: 2px;
    right: 0px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: #fff;
    padding: 15px 20px;
    border-radius: 5px;
}

.counter {
    position: absolute;

    top: -76px;
    left: 0;
    height: 5px;
    background-color: #0066ff;
}


.score {
    width: 235px;
    box-shadow: 0px 0px 2px #000;
    padding: 10px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.score span {
    padding: 15px;
    background: #0066ff;
    padding-inline: 20px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    margin-left: 15px;
}

.score span:nth-child(1) {
    margin-right: 15px;
}

.drag {
    background-color: #f39c12;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
}

.drag:hover {
    border-color: #e67e22;
}

.liste-drop .vide {
    position: absolute;
    background-color: white;
    border: 2px solid #0066ff;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
    line-height: 50px;
}



/* Position des cages sur la carte (approximatif, ajustez selon votre image) */
.vide:nth-child(1) { top: 730px; left: 50px; box-shadow: 0px 0px 5px #000;} /* Toliara */
.vide:nth-child(2) { top: 290px; left: 150px; box-shadow: 0px 0px 5px #000;} /* Mahajanga */
.vide:nth-child(3) { top: 600px; left: 160px; box-shadow: 0px 0px 5px #000;} /* Fianarantsoa */
.vide:nth-child(4) { top: 60px; left: 350px; box-shadow: 0px 0px 5px #000;}  /* Antsiranana */
.vide:nth-child(5) { top: 400px; left: 320px; box-shadow: 0px 0px 5px #000;} /* Toamasina */
.vide:nth-child(6) { top: 410px; left: 180px; box-shadow: 0px 0px 5px #000;} /* Antananarivo */


.guide-carte {
    position: absolute;
    max-width: 600px;
    left: 55%;
    top: 30%;
    padding: 15px 20px;
    background: #fff;
    border: 2px solid #0066ff;
    border-radius: 5px;
}

.guide-carte h1 {
    text-align: center;
    margin-block: 10px;
}

.guide-carte ol {
    margin-block: 20px;
    margin-left: 20px;
}

.guide-carte ol li {
    margin-block: 15px;
    font-size: 1rem;
    font-weight: 600;
}